.sidenav {
  --mat-sidenav-container-width: 175px;
}

@media only screen and (max-width: 600px) {
  .mat-mdc-list-item-title {
    display: none;
  }

  .sidenav {
    --mat-sidenav-container-width: 40px;
  }
}
